<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

  <root level="OFF">
  </root>

  <logger name="Styx-Tests" level="INFO"/>
  <logger name="com.hotels.styx.startup.extensions.FailureHandling" level="INFO"/>
  <logger name="com.hotels.styx.proxy.HttpErrorStatusCauseLogger" level="INFO"/>
  <logger name="com.hotels.styx.startup.ProxyServerSetUp" level="INFO"/>

</configuration>
