<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="10000">
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.apache" level="WARN"/>
  <logger name="io.netty" level="WARN"/>
  <logger name="com.hotels.styx.proxy.HttpErrorStatusCauseLogger" level="OFF"/>
  <logger name="com.hotels.styx.proxy.backends.file.FileChangeMonitor" level="INFO"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
